h1, h2, h3{
	text-transform: uppercase; 
}

body, p{
	color: #666;
	font-family: "Montserrat",sans-serif;
}

.page{
	.site-content-contain{
		.site-content{
			background: #414141; 
			color: $white; 
			h1{
				background: transparent; 
			}
		}
	}
}

.home{
	.site-content-contain{
		.site-content{
			background: #414141; 
			color: $white;
		}
	}
}



#home-top-search, .inner-nav{
	min-height: 80vh; 
	background: url('assets/images/2.jpg') center center no-repeat; 
	background-size:cover; 
	position: relative; 
	.fade{
		width: 100%; 
		height: 20%; 
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0+100;Neutral+Density */
background: -moz-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
		position: absolute; 
		top:0; 
		@include mobile-break{
				height: 50%; 
			}
	}
	.sale-rent{
		display: flex; 
		margin-top: 60px; 
		@include mobile-break{
				margin-top: 30px; 
				
			}
		span{
			padding: 10px 30px; 
			margin: 0px; 
			display: inline-block; 
			color: $white; 
			background: rgba(0,0,0,.5);
			border-top:5px solid transparent; 
			transition:.2s; 
			&.active{
				background: rgba(0,0,0,.8);
				border-top:5px solid $gold; 
			}
			&:hover{
				background: rgba(0,0,0,.6);
				cursor: pointer; 
				border-top:5px solid $gold; 
			}
		}
	}
	.wrap{
		padding: 30px; 
		display: flex; 
		width: 100%; 
		position: relative;
		.logo-main{
			float: left; 
			align-self: center; 
		}
		ul{
			@include mobile-break{
				display: none; 
			}
			margin-left: auto;
			display: inline-flex; 
			text-align: right; 
			align-self: center; 
			margin-bottom: 0; 
			li{
				list-style-type: none; 
				display: inline-block; 
				text-align: right; 
				padding: 10px; 
				a{
					color: #fff; 
					text-shadow: 0 0 5px #000; 
					font-weight: 600;
					transition: .2s; 
					&:hover{
						border-bottom: 2px solid #fff; 
					}
				}
			}
		}
		
	}
}

.inner-nav{
	min-height: auto; 
	background: #414141; 
	position: relative; 
}

.home-inner{
	background: transparent; 
}

#neighborhoods{
	margin: 40px auto; 
	max-width: 95%;
	overflow: auto; 
	background: #F0EEEE;
	.view-all-neighborhoods{
		background: $gray-light; 
		padding: 30px 0; 
		ul{
			display: flex; 
			flex-wrap: wrap; 
			li{
				width: 25%; 
				padding-right: 30px; 
				padding-bottom: 60px;
					@include mobile-break{
						width: 50%; 
					}
				a{
					display: block; 
				}
			}
		}
	}
	article{
		width: 30%; 
		background: $gray-dark; 
		text-transform: uppercase; 
		box-shadow: 0 0 20px $black; 
		float: left; 
		margin: 1.5%; 
		margin-bottom: 50px; 
		@include mobile-break{
				width: 97%; 
			}
		h3{
			color: #fff; 
			text-align: center; 
		}
	}
}

#neighborhoods h1, #featured-listings h1{
	color: $gray-dark; 
}

h1{
		text-align: center; 
		color: $white; 
		font-size: 2.2em; 
		padding: 30px; 
		font-weight: 600; 
		@include mobile-break{
				font-size: 2em; 
			}
	}

#featured-listings{
	margin: 40px auto; 
	max-width: 95%;
	overflow: auto; 
	background: $gray-light; 
	padding-bottom:30px; 

}

.page-template p, .page-template-default p{
	color: #fff; 
}

.page-template-page-agent-all #page, .tax-languages #page{
	background: url('assets/images/6.jpg') center center no-repeat; 
	background-size:cover;
	background-attachment: fixed; 
}

.tax-languages p{
	color: #fff; 
	a{
		color: #fff; 
	}
}

.page-template-page-agent-all.page .site-content-contain, .tax-languages .site-content-contain{
   background:transparent;
}


.page-template-page-agent-all.page .site-content-contain .site-content, .tax-languages .site-content-contain .site-content  {
   background: rgba(0,0,0,.6);
    color: #fff;
}

#agents-home{
	background: url('assets/images/5.jpg') center center no-repeat; 
	background-size:cover;
	margin: 40px auto; 
	overflow: auto; 
	max-width: 95%;	
	.agents-wrap{
		background: rgba(0,0,0,.6);
		overflow: auto; 
	}
	&.agents-interior{
		background: transparent; 
		.agents-wrap{
		background: transparent;
		}
	}
	button{
		margin-top: 20px; 
	}
	h1{
		margin-bottom: 0px; 
	}
	p{
		color: #fff; 
		text-align: center; 
	}
	
}

ul.agents{
		list-style-type: none; 
		display: flex;
		flex-wrap: wrap;
		@include mobile-break{
				display: block; 
			}
		li{
			p{
				font-size: 14px; 
				color: #fff; 
				span{
					display: block; 
					padding-top: 15px;
				}
			}
			h3{
				font-weight: 600; 
				color: #fff; 
				text-shadow: 0 0 10px #000; 
			}
			width: 25%; 
			padding: 3%; 
			text-align: center;
			@include mobile-break{
				width: 100%; 
				max-width: 260px; 
				margin: 0 auto; 
			}
			.agent-pic{
				position: relative; 
				border-radius: 50%; 
				overflow: hidden; 
				border: 5px solid #fff;
				padding-top: 100%; /* 1:1 Aspect Ratio */
				 transition: .2s; 
				 
				img{
				  position:absolute;
				  top:0%; left:0%;
				  margin:0;
				}
				.agent-hover{
					position:absolute;
				  top:0%; left:0%;
				  margin:0;
				  height: 100%; 
				  width: 100%; 
				  background: $gold; 
				  display: flex; 
				 opacity: 0; 
				 transition: .2s; 
				  h4{
					  align-self: center; 
					   text-align: center; 
					   width: 100%; 
					   color: #fff; 
				  }
				}
				&:hover{
					border: 5px solid transparent;
				
				.agent-hover{
						opacity: 1; 
					}
				}
			}
			i.fas{
				margin: 0 8px; 
				background: $gold; 
				color: #fff; 
				width: 40px; 
				border-radius: 50%; 
				height: 40px; 
				line-height: 40px; 
				text-align: center; 
				box-shadow: 0 0 10px #000; 
			}
		}
		p{
			color: #fff; 
			a{
				color: #fff; 
			}
		}
		
	}

.wpl_property_listing_container .wpl_sort_options_container .wpl_plist_sort_active {
    color: $gold;
}

.wpl_plist_sort.wpl_plist_sort_active.sort_down:before {
    background: $gold;
}

.wpl_list_grid_switcher>div.active:before, .wpl_list_grid_switcher>a.active:before {
    color: $gold;
}

button, input[type=submit]{
	font-weight: 600; 
	background: $gold; 
	&:hover{
		background: $white;
		color: $gold;  
	}
}

#prop-search{
	width: 100%; 
	form{
		padding: 8px; 
		background: rgba(0,0,0,.8); 
		width: 100%; 
		box-sizing: border-box;
		display: flex; 
		
		@include mobile-break{
				flex-wrap: wrap; 
			}
		input, select{
			display: inline-block; 
			margin: 5px; 
			box-sizing: border-box;
			@include mobile-break{
				width: 100%; 
			}
		}
	}
}

#agent-wrap{
	overflow: auto; 
	clear:both; 
}

.agent-left{
	width: 70%; 
	float: left; 
	@include mobile-break{
				float: none; 
				width: 100%; 
			}
	p{
		color: #eeeeee; 
		font-weight: 300; 
	}
}

.agent-right{
	width: 30%; 
	float: right; 
	max-width: 240px; 
		@include mobile-break{
				float: none; 
				width: 100%; 
				margin: 0 auto; 
				max-width: 400px; 
			}
	.agent-stats{
		padding: 15px 0; 
		p{
			color: #eeeeee; 
			font-size: 14px; 
			font-weight: 300; 
			span{
				font-weight: 600; 
			}
			@include mobile-break{
				text-align: center;
			}
			a{
				color: $gold; 
			}
		}
	}
}

.reviews, .agent-listings{
	h2, h3{
		text-align: center; 
	}
}

.reviews{
	margin-bottom: 0px; 
	overflow: auto;
	.external-links{
		margin-bottom: 60px; 
		text-align: center;
		a{
				font-size: 14px; 
				text-transform: uppercase; 
				color: $gold; 
				padding: 5px;
			}
	}
	ul.reviews{
		list-style-type: none; 
		
		li{
			
			padding: 20px 20px 40px 20px; 
			blockquote{
				color: #eeeeee; 
				padding-bottom: 10px; 
			}
			&.zillow{
				padding-top: 60px; 
				background: url('assets/images/logo-zillow.png') 8px 0px no-repeat; 
				background-size: 140px auto; 
				
			}
			&.yelp{
				padding-top: 60px; 
				background: url('assets/images/logo-yelp.png') -10px 0px no-repeat; 
				background-size: 140px auto; 
			}
			&.real-satisfied{
				padding-top: 60px; 
				background: url('assets/images/logo-real-satisfied.png') 12px 0px no-repeat; 
				background-size: 140px auto; 
				
			}
		}
	}
	h2, h3{
		color: #eeeeee; 
	}
	h3{
	margin-top: 0; 
	padding-top: 0;
	font-weight: 600;
	font-size: 16px;	
	}
}

.agent-listings{
	background: #F0EEEE;
}

.breadcrumb{
	padding: 0 0 25px 0; 
	a{
		font-size: 14px; 
				text-transform: uppercase; 
				color: $gold; 
	}
}

.single-neighborhoods h1.entry-title{
	color: $gray-dark; 
}

.agents-template #page .site-content-contain{
	background: $gray-dark url('assets/images/C21_Patterns_Seal_RelentlessGold.png') top left repeat; 
	background-attachment: fixed;
	.site-content{
		padding-top: 0; 
	}
	.wrap{
		background: $gray-dark;
	}
	footer .wrap{
		background: #fff;
	}
}

.button-wrapper{
	text-align: center; 
	padding: 0 30px 30px 30px; 
}