footer{
	background: #fff; 
	p{
		font-size: 12px; 
		text-align: center; 
		color: $gray-dark; 
	}
}

.page-template footer p, .page-template-default footer p {
	color: $gray-dark; 
}

footer article{
	display: inline-block; 
	width: 33%; 
	vertical-align: top; 
	@include mobile-break{
				width: 100%; 
			}
	h4, h5{
		padding-top: 20px; 
	}
	ul{
		list-style-type: none; 
	}
	a{
		color: #d18a0d; 
	}
}