// colors
$gray-dark: #4A4A4A;
$gray-med: #4A4A4A; 
$gray-light: #F0EEEE; 
$orange: #EA8022;
$purple: #400B34;
$black: #000;
$white: #fff;
$navy: #021839; 
$blue: #104786; 
$ltblue: #1F5BA3; 
$gold: #beb087; 
$orange: #d18a0d;

//fonts
$font-stack: 'Montserrat', sans-serif;

$font-serif: 'EB Garamond', serif;

$desktop: "min-width: 1100px"; // Declare global breakpoints that everyone can reference.
$tablet: "max-width: 900px"; 
$mobile: "max-width: 900px"; 
$smallmobile: "max-width: 600px"; 

//for mixins
$smalldesktop-break: "960px"; 
$mobile-break: "900px"; 
$smallmobile-break: "600px"; 